<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <link layout:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Tạo khóa học mới</title>

    <style>
        .notification, .notification-success{
            background-color: #FA8072;
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            text-align: center;
        }

        .notification-success{
            background-color: #3CB371;
        }

        .header-title, .btn {
            color: #fff;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .col-sm-4{
            color: white;
        }
    </style>
</head>
<body id="page-top"  layout:fragment="body">
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-5 align-self-lg-center">
                <div class="container ">
                    <h2 class="header-title">Tạo khóa học mới</h2>
                    <form method="post" action="/create_course" enctype="multipart/form-data" th:object="${coursesDto}">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" for="fullname">Full Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" th:field="${coursesDto.fullname}" id="fullname">
                                <p th:if="${#fields.hasErrors('fullname')}" th:errorclass="text-danger" th:errors="${coursesDto.fullname}"></p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" for="shortname">Short Name</label>
                            <div class="col-sm-8">
                                <input class="form-control" th:field="${coursesDto.shortname}" id="shortname">
                                <p th:if="${#fields.hasErrors('shortname')}" th:errorclass="text-danger" th:errors="${coursesDto.shortname}"></p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" for="category">Category</label>
                            <div class="col-sm-8">
                                <select class="form-select" th:field="${coursesDto.category}" id="category">
                                    <option value="1">Category 1</option>
                                    <option value="2">Khoa hoc</option>
                                    <option value="3">Information Technology</option>
                                    <option value="4">Other</option>
                                </select>
                                <p th:if="${#fields.hasErrors('category')}" th:errorclass="text-danger" th:errors="${coursesDto.category}"></p>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" for="description">Description</label>
                            <div class="col-sm-8">
                                <input class="form-control" th:field="${coursesDto.description}" id="description">
                                <p th:if="${#fields.hasErrors('description')}" th:errorclass="text-danger" th:errors="${coursesDto.description}"></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="offset-sm-4 col-sm-4 d-grid">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                            <div class="offset-sm-4 col-sm-4 d-grid">
                                <a class="btn btn-primary" href="/layout_course" role="button">Cancel</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>
